<link rel="stylesheet" href="https://unpkg.com/vssue/dist/vssue.min.css">
  <div id="vssue"></div>

  <!-- Introduce Vue first -->

  <!-- vue runtime build (runtime only)  -->
  <script src="https://unpkg.com/vue/dist/vue.runtime.min.js"></script>

  <!-- Introduce Vssue after Vue -->

  <!-- Vssue Github build -->
  <script src="https://unpkg.com/vssue/dist/vssue.github.min.js"></script>

  <!-- Use Vssue as a Vue component -->

  <!-- use render function for vue runtime build -->
  <script>
    new Vue({
      el: '#vssue',

      render: h => h('Vssue', {
        props: {
          // here set the title of issue of current page
          title: 'Sdttttt\'s Comments',

          options: {
            owner: 'sdttttt',
            repo: 'sdttttt.github.io',
            clientId: 'Iv1.5166570c9b7cb732',
            clientSecret: 'bd959fe04fe0b2b2d683e8f6471f718c1e5ded4b', // only required for some of the platforms
          },
        }
      })
    })
  </script>