<link rel="stylesheet" href="https://unpkg.com/vssue/dist/vssue.min.css">
  <div id="vssue"></div>

  <!-- Introduce Vue first -->

  <!-- vue runtime build (runtime only)  -->
  <script src="https://unpkg.com/vue/dist/vue.runtime.min.js"></script>

  <!-- Introduce Vssue after Vue -->

  <!-- Vssue Github build -->
  <script src="https://unpkg.com/vssue/dist/vssue.github.min.js"></script>

  <script>
    new Vue({
      el: '#vssue',

      render: h => h('Vssue', {
        props: {
          // here set the title of issue of current page
          title: 'Sdttttt\'s Comments',

          options: {
            owner: 'sdttttt',
            repo: 'sdttttt.github.io',
            clientId: '97eb9ce8ac126f0c7833',
            clientSecret: '831b0efc43a7dd1a3ee0bd1cf221df7531410e18', // only required for some of the platforms
          },
        }
      })
    })
  </script>